.c,
.cShowcase {
  position: absolute;
  max-width: 400px;
  max-height: 500px;
  min-height: 400px;
  min-width: 300px;
  width: 40%;
  height: 50%;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 2px rgba(13, 13, 13, 0.29);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.cShowcase {
  width: 25%;
  height: 30%;
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--text-color));
  background-size: cover;
}

.front {
  background-color: rgb(var(--second-color));
}
.frontContent {
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontContent h1 {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back {
  background-color: rgb(var(--prime-color));
}
.back img {
  width: 60%;
  height: 50%;
}

.container {
  display: flex;
  align-items: center;
  max-width: 400px;
  max-height: 500px;
  width: 40%;
  height: 35%;
  justify-content: center;
}

@media (max-width: 975px) {
  .c {
    height: 30%;
    margin-top: 15%;
  }
}
