torch==2.5.1
transformers[sentencepiece]==4.47.0
sentence-transformers==3.3.1
accelerate==1.2.0
numpy==1.26.4
faiss-cpu==1.9.0
gensim==4.3.3
scipy==1.13.1
pandas==2.2.2
diffusers==0.31.0
numpy==1.26.4
joblib==1.4.2
xgboost==2.1.1
lightgbm==4.5.0
scikit-learn==1.5.2
rapidfuzz==3.10.1
Levenshtein==0.26.1
pyclts==3.2.0
panphon==0.21.2
soundvectors==1.0
datasets==3.2.0
GitPython==3.1.43
googletrans @ git+https://github.com/StephanAkkerman/py-googletrans
pycountry==24.6.1
huggingface-hub==0.26.2
fastapi==0.115.6
uvicorn[standard]==0.32.0  # ASGI server for FastAPI